<html>

<head>
</script> 
  <meta charset="utf-8">
  <title>EgyptEye-Login</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script language='javascript' type='text/javascript'>
    function DisableBackButton() {
    window.history.forward()
    }
    DisableBackButton();
    window.onload = DisableBackButton;
    window.onpageshow = function(evt) { if (evt.persisted) DisableBackButton() }
    window.onunload = function() { void (0) }
    </script>
</head>

<body>
  <div class="background">
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1>EgyptEye</h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Sign in to your account</span>
            <form id="stripe-login"  action="/APIs/login" method="POST">
              <div class="field padding-bottom--24">
                <label for="name">email</label>
                <input type="email" name="email"  required>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">Password</label>
                </div>
                <input type="password" name="password" required>
              </div>
              <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
              </div>
              <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Continue">
              </div>


            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>